.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../../images/ugg2.jpg);
    padding: 150px 0;
    background-size: cover;
    background-position: center;
    background-color: #333; 
}

.banner h1 {
    font-size: 50px;
    color: #747264; 
}

.banner h2 {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 40px;
}
